<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>羊羊羊</title>

	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" th:href="@{/css/dongtai.css}">
	<link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>
<body>
<div style="height: 255.6px;width: 2031.2px">
	<div th:include="/common/top :: top"></div>
</div>


<div class="skw-pages">
	<div class="skw-page skw-page-1 active">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">总有一天会遇到一个彩虹般绚烂的人</h2>
					<p class="skw-page__description">斯人若彩虹，遇上方知有；伊人若湍水 触及方知柔。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="skw-page skw-page-2">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">幸运的是这一天不早也不晚刚刚好</h2>
					<p class="skw-page__description">不期而遇，天使然也。</p>
				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
	</div>

	<div class="skw-page skw-page-3">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">我们有甜蜜</h2>
					<p class="skw-page__description">你想知道我对你的爱情是什么吗？就是从心底里喜欢你，
						觉得你的一举一动都很亲切，不高兴你比喜欢我更喜欢别人。你要是喜欢了别人我会哭，但是我还是喜欢你。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="skw-page skw-page-4">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">也有悲伤</h2>
					<p class="skw-page__description">别怕美好的一切消失，咱们先来让它存在。</p>
				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
	</div>
	<div class="skw-page skw-page-5">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">更多的是对未来的希冀</h2>
					<p class="skw-page__description">
						幸福没那么容易才会特别让人着迷，希望我们都能像对方一样的勇敢，拥有肆意生活的勇气随着自己的心意，用心生活用力向上。
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="skw-page skw-page-6">
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">

				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading">Page 6</h2>
					<p class="skw-page__description">你是非常可爱的人，真应该遇到最好的人，我也真希望我就是。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="skw-page skw-page-7">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h2 class="skw-page__heading"></h2>
					<p class="skw-page__description">而你就是我的世界</p>
				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">一个人只拥有此生此世是不够的，还应该拥有诗意的世界。</div>
			</div>
		</div>
	</div>

</div>
<script th:src='@{/js/jquery.min.js}'></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
