<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picc.rule.mapper.PrpclaimMapper">
    <select id="findbyMapperId" resultType="com.picc.rule.entity.PrpClaimInfo" parameterType="string">
        SELECT * FROM prplisclaiminfo WHERE uuid=#{Id}
    </select>

</mapper>